<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appknox.mfva">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <permission
        android:name="com.appknox.mfva.CustomPermission"
        android:description="@string/permission_custom"
        android:label="@string/permission_custom" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/activity_title_main"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".WebViewActivity"
            android:label="@string/activity_title_webview"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ApiRequestsActivity"
            android:label="@string/activity_title_api_requests"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ExportedActivity"
            android:exported="true"
            android:permission="com.appknox.mfva.CustomPermission" />

        <service
            android:name=".ExportedService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".UnprotectedService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.appknox.mfva.CustomPermission" />

        <receiver
            android:name=".ExportedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".UnprotectedReceiver"
            android:exported="true"
            android:permission="com.appknox.mfva.CustomPermission">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>



        <provider
            android:name=".StubProvider"
            android:authorities="com.example.android.datasync.provider"
            android:exported="true"
            android:permission="com.appknox.mfva.CustomPermission"
            android:syncable="true">
            <grant-uri-permission
                android:path="/"
                android:pathPattern="*"
                android:pathPrefix="/" />
        </provider>

    </application>

</manifest>